.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo{
  display: flex;
  padding: 10px;
  border: 1px solid #00a2ff;
  background-color: #f8f1f1;
  border-radius: 10px;
  justify-content: space-between;
  vertical-align: baseline;
  margin: .25rem 0;
  align-items: center;

}

.todo p {
  margin: 0;
}

.completedTodo{
  font-size: 0.9rem;
  padding: 8px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  background-color: #282c34;
  color: white;
}

.todos-list, .completed-todos-list{
  height: 65vh;
  overflow-y: scroll;
}

.App-body{
  padding: 15px;
  overflow-y: hidden;
}

.actions button{
  margin: 0 5px;
}